{
	"parser": "babel-eslint",
	"rules": {
		"indent": [
			2,
			"tab"
		],
		"quotes": [
			2,
			"single"
		],
		"linebreak-style": [
			2,
			"unix"
		],
		"semi": [
			2,
			"always"
		],
		"max-len": [1, 80, 4, {"ignoreComments": true, "ignoreUrls": true}],
		"strict": [2, "global"],
		"comma-dangle": [2, "never"],
		"no-cond-assign": [2, "always"],
		"no-dupe-keys": 2,
		"camelcase": [2, {properties: "never"}],
		"dot-notation": [2, {"allowKeywords": false}],
		"eqeqeq": 2,
		"no-unused-vars": 1,
		"comma-spacing": [1, {"after": true}],
		"no-mixed-spaces-and-tabs": 1,
		"no-console": 0
	},
	"env": {
		"browser": true
	},
	"extends": "eslint:recommended"
}